.share-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.share-container .share-link-item {
  margin-right: 10px;
  opacity: 0.8;
  transition: all 0.2s ease;
  cursor: pointer; }

.share-container .share-link-item:hover {
  opacity: 1;
  transform: scale(1.1, 1.1); }

.share-container div {
  outline: none; }
