.weather-item-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-bottom: 30px;
  transition: all 0.3s linear; }

@media screen and (max-width: 768px) {
  .weather-item-container {
    flex-direction: column; } }

.weather-item-container:last-child {
  margin-bottom: 0; }

.weather-item-container .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  padding: 10px;
  border-radius: 20px;
  min-width: 150px;
  width: 150px;
  min-height: 150px;
  height: 150px;
  background-color: #f2f2f2;
  transition: all 0.3s linear; }

@media screen and (max-width: 768px) {
  .weather-item-container .img-container {
    margin-bottom: 15px; } }

@media screen and (max-width: 576px) {
  .weather-item-container .img-container {
    margin: 0 auto 15px; } }

.weather-item-container .img-container img {
  max-width: 100%;
  max-height: 100%; }

.weather-item-container .data-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.weather-item-container .data-container .weather-title {
  margin-bottom: 10px;
  font: bold 18px "Open Sans", sans-serif;
  font-size: 35px;
  color: #282e3f; }

.weather-item-container .data-container .weather-description {
  font: normal 18px "Open Sans", sans-serif;
  color: #282e3f; }

.weather-item-container .data-container .weather-link {
  display: inline-block;
  margin: 10px 0;
  font: normal 18px "Open Sans", sans-serif;
  color: #282e3f;
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.2s ease; }

.weather-item-container .data-container .weather-link:hover {
  opacity: 1; }

.weather-item-container .rate-container {
  display: flex;
  justify-content: space-between; }

.weather-item-container .open-comments-btn {
  display: inline-block;
  padding: 2px;
  border: none;
  background: none;
  outline: none;
  font: normal 18px "Open Sans", sans-serif;
  font-size: 14px;
  color: #A2A2A2;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent; }

.weather-item-container .open-comments-btn.active {
  color: #282e3f;
  border-bottom: 1px solid #e95d3c; }

.weather-item-container .submit-comment-btn {
  margin: 15px 0;
  border: none;
  background: #e95d3c;
  padding: 8px 16px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  font: normal 18px "Open Sans", sans-serif;
  font-size: 14px; }

.weather-item-container .submit-comment-btn:hover {
  background: #de3d27; }

.weather-item-container .submit-comment-btn.disabled {
  opacity: 0.8; }

.weather-item-container .submit-comment-btn.disabled:hover {
  background: #e95d3c; }

.weather-item-container .data-container {
  position: relative; }

.weather-item-container .data-wrapper {
  background-color: #fff;
  z-index: 1;
  transition: all 0.3s linear; }

@media screen and (max-width: 576px) {
  .weather-item-container .data-wrapper {
    text-align: center; } }
