.about-us-section {
  padding: 50px 0;
  text-align: center; }
  .about-us-section h2 {
    font: normal 18px "Open Sans", sans-serif;
    font-size: 35px;
    color: #282e3f; }
  .about-us-section p {
    font: normal 18px "Open Sans", sans-serif;
    color: #282e3f; }
