.sign-in-popup-container {
  width: 100%;
  z-index: 5;
  padding: 0 15px;
  height: 100%;
  max-height: 100%;
  background: rgba(40, 46, 63, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll; }
  .sign-in-popup-container .sign-in-popup {
    max-width: 400px;
    position: relative;
    padding: 50px 35px;
    margin: 0;
    text-align: center;
    border-radius: 20px;
    background-color: #fff; }
    .sign-in-popup-container .sign-in-popup .popup-title {
      font: normal 18px "Open Sans", sans-serif;
      font-size: 25px;
      color: #282e3f; }
    .sign-in-popup-container .sign-in-popup .popup-description {
      margin: 15px 0;
      font: normal 18px "Open Sans", sans-serif;
      color: #282e3f; }
    .sign-in-popup-container .sign-in-popup .facebook-button {
      display: inline-block;
      padding: 8px;
      border: none;
      border-radius: 7px;
      background-color: #3b5998;
      font: normal 18px "Open Sans", sans-serif;
      font-size: 14px;
      color: #fff; }
    .sign-in-popup-container .sign-in-popup .close-btn {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 20px;
      height: 20px;
      background: url("../assets/images/close-btn.png") no-repeat;
      cursor: pointer;
      border: none;
      outline: none; }
